Write a program to get the data type of a data

In [3]:
y=10.2
type(y)

float

Write a program to convert a integer data type to float data type

In [4]:
x=10
float(x)

10.0

Write a program to convert a integer data type to float data type and vice versa

In [5]:
#converting int to float
x=10
float(x)

10.0

In [6]:
#converting float to int
x=12.657
int(x)

12

 Write a programme to get the actual location of the data

In [8]:
x=123
id(x)

2518190872752

Give an example of implict conversion and explict conversion

In [13]:
#explict
x=20.6
y=10
int(x+y)

30

In [14]:
#implict
x=22.5
y=10
x+y

32.5

Write a programme to prove that python is a case senstive language

In [17]:
abc=1234
print(aBc)

NameError: name 'aBc' is not defined

Write a programme to get a syntax error

In [19]:
if abc=123
    print(abc)

SyntaxError: invalid syntax (2709478924.py, line 1)

Write a programme to get a type error

In [35]:
first=[1,2,3,4]
second=[3,4]
first+=+second

TypeError: bad operand type for unary +: 'list'

Give an example of mulitple statement in a single line

In [40]:
2+3,4-5,6*8

(5, -1, 48)

Give an example of single line statement in multiple line

In [8]:
1*\
2+\
3-\
4

1